.navheader{
    display:flex ;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(110, 114, 116);
}
.navheader img{
    padding: 0px 80px;

}
.inactivenav,a{
    font-family: lato,sans-serif;
    font-weight: 750;
    font-size: 16px;
    color: rgb(240, 216, 157);
    text-decoration: none;
}
.navheader nav ul li.activenav{
    font-family: lato,sans-serif;
    font-weight: 750;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.con{
    color: #ffc23d;
    background-color: rgb(72, 77, 80);
    border: none;
    cursor: pointer;
    padding: 0px 30px;
}
.logo{
    cursor: pointer;
}
.navLinks{
    list-style: none;
}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a:hover{
    color: white;
}